*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: sans-serif;
}
.white{
    color: white;
}
.green{
    color: greenyellow;
}
body{
    background-color: whitesmoke;
}
.main_header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}
.headering{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px dotted brown;
}
.container{
    display: block;
    width: 96%;
    margin: 0 auto ;
}
.content_headering{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.logotipo{
    width: 40px;
    height: 40px;
}
form{
    display: flex;
    justify-content:center;
    width: 50%;
    height: 40px;
    border: 1px dotted brown;
    border-radius: 4px;
    background-color: transparent;
}
.input_navbar{
    width: 90%;
    height: 100%;
    text-align: center;
    background-color: transparent;
}
form button{
    width: 10%;
    height: 100%;
    background-color: transparent;
    color: brown;
}
.alinhamento{
    display: flex;
    justify-content:center;
}
.list_navbar{
    margin-left: 5px;
    padding: 10px;
    border: 1px dotted brown;
}

.list_navbar:hover{
    margin-left: 5px;
    padding: 10px;
    transition: 1s all;
    background-color: brown;
}
.link_navbar{
    color: brown;
}
.link_navbar:hover{
    color: white;
    transition: 1s all;
}
.content_lateral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    overflow: auto;
}
.first_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 96%;
    background: linear-gradient(370deg,#0009,#0009,#0009,#fff7,#fff7),url('../image/bg-s1-chefe.webp');
    background-size: cover;
}
.first_div{   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}
.one_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 50%;
    height: 60vh;
}
.h1_one_div{
    color: white;
    font-size: 4em;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.paragraph_one_div{
    color: grey;
    font-size: 2em;
    font-weight: 300;
    font-family:  sans-serif;
    margin: 40px 0px;
}
.link_one_div{
    color: white;
    font-size: 13pt;
    font-weight: 300;
    text-align: center;
    width: 150px;
    padding: 14px;
    border: 1px solid white;
    border-radius: 10px;
}
.two_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-end;
    width: 50%;
    height: 60vh;
}

.h3_two_div{
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Arial Narrow Bold', sans-serif;
}
.footer{
    width: 60%;
   
    border-radius: 10px 10px 0px 0px;
    background:rgba(00, 00, 00, .7);
}
.network_social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    width: 30%;
    padding: 15px;
}
.h1_footer{
    color: gainsboro;
    font-family: Impact;
    font-weight: bolder;
    letter-spacing: 2px;
}
.net_contact{
    color: gray;
    padding: 0px 10px;
    font-family: sans-serif;
    font-weight: 300;
}
.d-border{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.content_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}
.one_footer_div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 120px;
    padding-left: 50px;
    border-right: 1px solid gray;
}
.one_footer_div h2{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
.one_footer_div p{
    color: gray;
    font-family: sans-serif;
    font-weight: lighter;
}
.two_footer_div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 150px;
    padding-left: 50px;
}
.two_footer_div h2{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
.two_footer_div p{
    color: gray;
    font-family: sans-serif;
    font-weight: lighter;
}
.secund_section{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 96%;
    background: linear-gradient(370deg,#0009,#0009,#0009),url('../image/third.jfif');
    background-size: cover;
}
.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65vh;
}
.content_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    width: 18%;
    height: 70%;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid gray;
    
}
.imagen_card_secund_section{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
}
.h1_card_secund_section{
    color: white;
    letter-spacing: 3px;
    font-family: sans-serif;
}
.state_card_secund_section{
    color: greenyellow;
}
.explain{
    display: flex;
    align-items: center;
    width:100%;
    height: 30%;
    border-top: 2px solid grey;
}
.div_explain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 36%;
    height: 100%;
    border-right: 2px solid gray;
}
.explain_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.secund_div_explain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}
.about_button{
    color: greenyellow;
    width: 150px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid grey;
}
.third_section{
    background: linear-gradient(370deg,#0009,#0009,#0009),url('../image/portfolio.jfif');
    background-size: cover;
    min-width: 100vw;
    min-height: 96%;
}
.content_portfolio{
    width: 100%;
    height: 60vh;
    background-color: white;
}
.fouth_section{
    background: linear-gradient(370deg,#fff7,#fff7,#0009,#0009,#0009),url('../image/contact.jpg');
    background-size: cover;
    min-width: 100vw;
    min-height: 96vh;
}
.content_contact{
    display: block;
    margin: 60px auto;
    width: 26%;
    height: 80%;
    box-shadow: 2px 3px 10px grey;
    border-radius: 10px;
    background: linear-gradient(370deg,#fff7,#fff7,#0009),url('../image/third.jfif');
    background-position: center;
}
.form_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.input_unit{
    width: 90%;
    height: 40px;
    text-align: center;
    margin-bottom: 4px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
}
/*****************SCROLL AREA****************************************/
::-webkit-scrollbar {
    width: 0px;
  }