*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: sans-serif;
}
body{
    background-color: red;
}
.main_header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}
.container{
    display: block;
    width: 98%;
    margin: 0 auto ;
}
.menu_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo{
    font-size: 20pt;
    font-weight: bold;
}